body {
  background-color: #1a1a21;
  color: #E6E6E6;
}

h1, a {
  color: #C09C7B;
}

h2, h3, h4, h5, h6 {
  color: #E6E6E6;
}

s, del, strike {
  text-decoration: none;
  color: #DBC291;
}

blockquote {
  background-color: #2B272B;
  color: #E6E6E6 !important;
}

img[src$=".png"],
img[src$=".webp"] {
  background-color: #1a1a21;
}

td, th {
  background-color: #1a1a21;
  color: #E6E6E6;
}

body hr {
    border: none;         /* Remove default border */
    border-top: 1px solid #1a1a21; /* Create a thin top border */
    height: 0;           /* Remove height */
    margin: 20px 0;      /* Add some space above and below */
    width: 100%;         /* Full width */
}
